<div class="mdl-grid">
{{#mdl-card title='Welcome to Ember.js'}}
  <div class="mdl-card__supporting-text">
    You have successfully installed <a href='https://github.com/truenorth/ember-material-lite' target='_blank'>ember-material-lite</a>. It's based on an awesome google project called <a href='https://github.com/google/material-design-lite' target='_blank'>Material Design Lite</a>
  </div>
  {{#mdl-card-actions}}
    {{mdl-button text='Test Button'}}
  {{/mdl-card-actions}}
{{/mdl-card}}
</div>


{{outlet}}