{{#mdl-card title="My card"}}
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Mauris sagittis
    pellentesque lacus eleifend lacinia...
  </div>
  {{#mdl-card-actions}}
    {{mdl-button text="Get Started"}}
  {{/mdl-card-actions}}
  {{#mdl-card-buttons}}
    {{mdl-button icon="share"}}
  {{/mdl-card-buttons}}
{{/mdl-card}}