<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <div class="mdl-logo">
      Mini-footer Heading
    </div>
    <ul class="mdl-mini-footer--link-list">
      <li><a href="">Link 1</a></li>
      <li><a href="">Link 2</a></li>
      <li><a href="">Link 3</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer--right-section">
    <button class="mdl-mini-footer--social-btn"></button>
    <button class="mdl-mini-footer--social-btn"></button>
    <button class="mdl-mini-footer--social-btn"></button>
  </div>
</footer>