{{#mdl-card title="My card"}}
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Mauris sagittis
    pellentesque lacus eleifend lacinia...

    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Mauris sagittis
    pellentesque lacus eleifend lacinia...

        Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Mauris sagittis
    pellentesque lacus eleifend lacinia...
  </div>
{{/mdl-card}}