<p>
{{mdl-textfield label='First Name'}}
{{mdl-textfield label='Last Name' isLabelFloating=false}}
{{mdl-textfield label='Age' type='number'}}
</p>
<p>
{{mdl-textfield label='Address' isLabelFloating=false isExpandable=true expandableIcon='home'}}
</p>