{{#if emptySnippet}}
  {{#mdl-card title="Empty Content"}}
    <div class="mdl-card__supporting-text">
      You must provide a snippet parameter
    </div>
  {{/mdl-card}}
{{else}}
  {{#mdl-card title=title class="example-card"}}
    <div class="mdl-card__supporting-text">
      {{yield}}
    </div>
    <div class="code">
      {{code-snippet name=snippetName}}
    </div>
    <div class="example">
      {{! template-lint-disable }}
      {{partial partialName}}
    </div>
  {{/mdl-card}}

{{/if}}