{{#if emptySnippet}}
  {{#mdl-card title='Empty Content'}}
  <div class="mdl-card__supporting-text">
    You must provide a snippet parameter
  </div>
  {{/mdl-card}}
{{else}}
  {{#mdl-card title=title class='example-card'}}
    <div class="mdl-card__supporting-text">
      {{yield}}
    </div>
      {{#mdl-tabs active='Example'}}
        {{#mdl-tab title='Example'}}
          <div class="example">
          {{partial partialName}}
          </div>
        {{/mdl-tab}}
        {{#mdl-tab title='Code'}}
          <div class="code">
          {{code-snippet name=snippetName}}
          </div>
        {{/mdl-tab}}
      {{/mdl-tabs}}

  {{/mdl-card}}

{{/if}}