{{textarea class="mdl-textfield__input" id=_inputId disabled=disabled value=value}}

<label class="mdl-textfield__label">{{label}}</label>
{{#if errorMessage}}
<span class="mdl-textfield__error">{{errorMessage}}</span>
{{/if}}
