 <input class="{{_parentComponent._primaryClassNameString}}--heading-checkbox" type="checkbox" checked>
<h1 class="{{_parentComponent._primaryClassNameString}}--heading">{{title}}</h1>
{{#mdl-footer-linklist}}
	{{yield}}
{{/mdl-footer-linklist}}
