<div class="mdl-cell mdl-cell--12-col">
  <h2>Badges</h2>
</div>

{{#x-example snippet="mdl-badge-icons" title="Icon Badges" cols=12}}
  Badges can be added to icons using the <code>mdl-icon</code> component's <code>badge</code> property
{{/x-example}}