<div class="mdl-cell mdl-cell--12-col">
<h2>Buttons</h2>
</div>

{{#x-example snippet='mdl-button-basic' title='Basic Button' cols=12}}
	A basic flat button
{{/x-example}}

{{#x-example snippet='mdl-button-raised' title='Raised Button' cols=12}}
	Raised buttons has 
{{/x-example}}

{{#x-example snippet='mdl-button-float' title='Floating Action Buttons' cols=12}}
{{/x-example}}

{{#x-example snippet='mdl-button-icon' title='Button w/ Icon' cols=12}}
  You can use an icon instead of text (not in addition to)
{{/x-example}}