<div class="mdl-cell mdl-cell--12-col">
  <h2>Buttons</h2>
</div>

{{#x-example
  snippet="mdl-button-basic"
  title="Basic Button"
  anchor="basic"
  cols=12
}}
  A basic flat button
{{/x-example}}

{{#x-example
  snippet="mdl-button-raised"
  title="Raised Button"
  anchor="raised"
  cols=12
}}
  Raised buttons have a small shadow behind them 
{{/x-example}}

{{#x-example
  snippet="mdl-button-float"
  title="Floating Action Buttons"
  anchor="floating"
  cols=12
}}
{{/x-example}}

{{#x-example
  snippet="mdl-button-icon"
  title="Button w/ Icon"
  anchor="icon"
  cols=12
}}
  You can use an icon, or text, but not both
{{/x-example}}