<div class="mdl-cell mdl-cell--12-col">
  <h2>Cards</h2>
</div>

{{x-example
  snippet="mdl-card-basic" 
  cols=6
  title="Basic Card"
}}
{{x-example
  snippet="mdl-card-actions"
  cols=6
  title="Card Buttons and Actions"
}}