<div class="mdl-cell mdl-cell--12-col">
  <h2>Footer</h2>
</div>

{{#x-example snippet="mdl-footer-mini" title="Mini Footer" cols=12}}
  The mini footer can be used for simple information
{{/x-example}}

{{#x-example snippet="mdl-footer-mega" title="Mega Footer" cols=12}}
  The mega footer is defined by sections that collapse responsively for mobile
{{/x-example}}