<div class="mdl-cell mdl-cell--12-col">
  <h2>Icons</h2>
</div>
{{#x-example snippet="mdl-icon-basic" title="Basic Icons" cols=12}}
  Please visit
  <a
    rel="noopener"
    href="https://www.google.com/design/icons/"
    target="_blank"
  >
    google's material design icon index
  </a>
  for a comprehensive index of available icons.
{{/x-example}}
