<div class="mdl-cell mdl-cell--12-col">
  <h2>Menus</h2>
</div>
{{#x-example
  snippet="mdl-menu-basic"
  title="Basic Menu"
  cols=12
  class="tall200"
}}
  Menus can be aligned in a variety of ways: <code>top-left</code>, <code>bottom-right</code> and <code>top-right</code>
{{/x-example}}
