<div class="mdl-cell mdl-cell--12-col">
  <h2>Progress &amp; Spinner</h2>
</div>

{{#x-example
  snippet="mdl-progress-basic"
  title="Progress Bar"
  cols=6
  x=x
}}

{{/x-example}}

{{#x-example
  snippet="mdl-spinner-basic"
  title="Spinner"
  cols=6
}}

{{/x-example}}