<div class="mdl-cell mdl-cell--12-col">
  <h2>Table</h2>
</div>
{{#x-example
  snippet="mdl-table-basic"
  title="Basic Table"
  cols=12
  rows=rows
  class="no-padding"
}}
  A basic table
{{/x-example}}
