<div class="mdl-cell mdl-cell--12-col">
  <h2>Inputs</h2>
</div>
{{#x-example
  snippet="mdl-textfield-basic"
  title="Text fields"
  cols=12
  firstName=firstName
  lastName=lastName
}}
  Basic text fields can either have a floating label or not, based on the <code>isLabelFloating</code> property.
{{/x-example}}

{{#x-example
  snippet="mdl-textfield-expandable"
  title="Expandable fields"
  cols=12
}}
  Expandable text fields are revealed when the user clicks a button.
{{/x-example}}

{{#x-example snippet="mdl-textfield-patterns" title="Patterns" cols=12}}
  You may provide a
  <code>pattern</code>
  value, which you may use
  <a
    href="http://www.w3schools.com/tags/att_input_pattern.asp"
    target="_blank"
    rel="noopener"
  >
    will be used to validate
  </a>  user input.
{{/x-example}}

{{#x-example
  snippet="mdl-textfield-textarea"
  title="Textarea"
  cols=12
}}
  Textareas can be expanded vertically for multi-line content
{{/x-example}}