<div class="mdl-cell mdl-cell--12-col">
  <h2>Tooltips</h2>
</div>
{{#x-example snippet="mdl-tooltip" title="Tooltip" cols=12}}
  Tooltips are attached to an element with an <code>id</code>, or CSS selector using the <code>for</code> attribute. Tooltip bodies can contain rich content, including multi-line text and icons.
{{/x-example}}
